{:builds {:lambda  {:target     :esm
                    :output-dir "target"
                    :devtools   {:enabled false}
                    :modules    {:lambda {:init-fn hellocljs.core/main}}}}
 :lein true}
