{:builds {:lambda  {:target     :esm
                    :output-dir "target"
                    :runtime    :custom
                    :modules    {:lambda {:init-fn hellocljs.core/main}}}}
 :lein true}
